body
{
}
.action{
    position:relative;
    width:1200px;
}

.naction {
    position: relative;
    color: white;
    background-color: #808080;
    width:120px;
    height:50px;
    border-radius:25px;
    text-align:center;
    line-height:50px;
    font-size:17px;
    z-index:4;
}

.PButton {
    font-weight: normal;
    color: black;
    border-radius: 35%;
    background-color: #bcbcbc;
    margin: 0.5%;
    outline: none;
}

.PButton:hover {
    background-color: white;
}